In [70]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Importation des données

In [71]:
df_carac = pd.read_csv("carcteristiques-2021.csv", sep = ";")
df_usagers = pd.read_csv("usagers-2021.csv", sep = ";")
df_lieux = pd.read_csv("lieux-2021.csv", sep = ";")
df_vehicule = pd.read_csv("vehicules-2021.csv", sep = ";")

In [72]:
len(df_vehicule)

97315

In [73]:
df_vehicule.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 97315 entries, 0 to 97314
Data columns (total 11 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Num_Acc      97315 non-null  int64
 1   id_vehicule  97315 non-null  object
 2   num_veh      97315 non-null  object
 3   senc         97315 non-null  int64
 4   catv         97315 non-null  int64
 5   obs          97315 non-null  int64
 6   obsm         97315 non-null  int64
 7   choc         97315 non-null  int64
 8   manv         97315 non-null  int64
 9   motor        97315 non-null  int64
 10  occutc       744 non-null    float64
dtypes: float64(1), int64(8), object(2)
memory usage: 8.2+ MB

In [74]:
df_usagers = pd.read_csv("usagers-2021.csv", sep = ";")

In [75]:
# Regardons l'entete du dataset usagers
df_usagers.head()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp
0,202100000001,201 764,B01,1,1,3,1,2000.0,1,0,9,-1,0,0,-1
1,202100000001,201 765,A01,1,1,1,1,1978.0,1,1,-1,-1,0,0,-1
2,202100000002,201 762,A01,1,1,4,1,1983.0,0,1,-1,-1,0,0,-1
3,202100000002,201 763,B01,1,1,3,1,1993.0,0,1,-1,-1,0,0,-1
4,202100000003,201 761,A01,1,1,1,1,1995.0,1,1,0,-1,0,0,-1

In [76]:
df_usagers["sexe"].unique()

array([ 1,  2, -1], dtype=int64)

In [77]:
# Regardons l'entete du dataset lieux
df_lieux.head()

,Num_Acc,catr,voie,v1,v2,circ,nbv,vosp,prof,pr,pr1,plan,lartpc,larrout,surf,infra,situ,vma
0,202100000001,3,981,-1,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,80
1,202100000002,3,20,0,E,2,2,0,1,0,10,1,NaN,-1,1,0,1,80
2,202100000003,4,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,2,0,1,(1),(1),1,NaN,-1,1,0,1,50
3,202100000004,3,GENERAL GALLIENI (BOULEVARD DU),0,NaN,2,4,0,1,0,1,1,NaN,-1,1,0,1,50
4,202100000005,7,PARIS. ROUTE DE,-1,NaN,2,2,-1,1,11,150,1,NaN,-1,1,0,1,50

In [78]:
# Regardons l'entete du dataset caractéristique
df_carac.head()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,2,30,30319,1,1,1,1,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,1,51,51544,1,3,1,3,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,1,85,85048,2,1,7,6,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,5,93,93005,2,2,3,6,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,5,76,76429,2,1,1,2,PARIS. ROUTE DE,"49,4083800000","1,1458100000"

In [79]:
# Regardons l'entete du dataset véhicule
df_vehicule.head()

,Num_Acc,id_vehicule,num_veh,senc,catv,obs,obsm,choc,manv,motor,occutc
0,202100000001,201 764,B01,1,1,0,2,1,1,5,NaN
1,202100000001,201 765,A01,1,7,0,9,3,17,1,NaN
2,202100000002,201 762,A01,0,7,2,2,1,1,0,NaN
3,202100000002,201 763,B01,0,7,0,2,1,9,0,NaN
4,202100000003,201 761,A01,1,7,0,1,3,1,1,NaN

In [80]:
# Création liste de département. Elle va nous permettre de réaliser le filtrage en IDF
Departement_IDF = ['75', '77', '78', '91', '92', '93', '94', '95']

# Pretraitement dataset caractéristique

Ici on va remplir différentes modalité dans le dataset

In [81]:
df_carac['lum'] = df_carac['lum'].replace([1, 2, 3, 4, 5], 
                                          ['Plein_jour', 'Aube', 'Nuit sans eclairage public', 'Nuit avec eclairage public eteint', 'Nuit avec eclairage public allum'])

df_carac['agg'] = df_carac['agg'].replace([1, 2], 
                                          ['Hors_agglomeration', 'En_agglomeration'])

df_carac['int'] = df_carac['int'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9,], 
                                          ['Hors intersection', 'Intersection en X', 'Intersection en T', 'Intersection en Y', 'Intersection à plus de 4 branches', 'Giratoire', 'Place', 'Passage à niveau', 'Autre intersection'])

df_carac['atm'] = df_carac['atm'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9], 
                                          ['Normale','Pluie légère', 'Pluie forte', 'Neige_grêle', 'Brouillard_fumée', 'Vent fort_tempête', 'Temps éblouissant', 'Temps couvert', 'Autre'])

df_carac['col'] = df_carac['col'].replace([1, 2, 3, 4, 5, 6, 7], 
                                          ['Deux véhicules frontale', 'Deux véhicules par l’arrière', 'Deux véhicules par le coté', 'Trois véhicules et plus en chaîne', 'Trois véhicules et plus collisions multiples', 'Autre collision', 'Sans collision'])

In [82]:
df_carac.head()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col,adr,lat,long
0,202100000001,30,11,2021,07:32,Aube,30,30319,Hors_agglomeration,Hors intersection,Normale,Deux véhicules frontale,CD 981,"44,0389580000","4,3480220000"
1,202100000002,25,9,2021,14:20,Plein_jour,51,51544,Hors_agglomeration,Intersection en T,Normale,Deux véhicules par le coté,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000"
2,202100000003,15,7,2021,07:55,Plein_jour,85,85048,En_agglomeration,Hors intersection,Temps éblouissant,Autre collision,15 rue François Nicolas,"46,9219500000","-0,9644600000"
3,202100000004,27,3,2021,19:45,Nuit avec eclairage public allum,93,93005,En_agglomeration,Intersection en X,Pluie forte,Autre collision,Route de Mitry,"48,9493634583","2,5196639908"
4,202100000005,25,2,2021,07:20,Nuit avec eclairage public allum,76,76429,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière,PARIS. ROUTE DE,"49,4083800000","1,1458100000"

In [83]:
ds = df_carac.drop(["lat", "long", "adr"], axis = 1)

In [84]:
# Enregistrement fichiers_caracteristique
ds.head()
#df_carac.to_csv("caracteristiques_.csv", index = False)

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col
0,202100000001,30,11,2021,07:32,Aube,30,30319,Hors_agglomeration,Hors intersection,Normale,Deux véhicules frontale
1,202100000002,25,9,2021,14:20,Plein_jour,51,51544,Hors_agglomeration,Intersection en T,Normale,Deux véhicules par le coté
2,202100000003,15,7,2021,07:55,Plein_jour,85,85048,En_agglomeration,Hors intersection,Temps éblouissant,Autre collision
3,202100000004,27,3,2021,19:45,Nuit avec eclairage public allum,93,93005,En_agglomeration,Intersection en X,Pluie forte,Autre collision
4,202100000005,25,2,2021,07:20,Nuit avec eclairage public allum,76,76429,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière

In [85]:
ds.to_csv("caracteristiques_.csv", index = False)

In [86]:
df_ = pd.read_csv("caracteristiques_.csv")

In [87]:
df_.head()

,Num_Acc,jour,mois,an,hrmn,lum,dep,com,agg,int,atm,col
0,202100000001,30,11,2021,07:32,Aube,30,30319,Hors_agglomeration,Hors intersection,Normale,Deux véhicules frontale
1,202100000002,25,9,2021,14:20,Plein_jour,51,51544,Hors_agglomeration,Intersection en T,Normale,Deux véhicules par le coté
2,202100000003,15,7,2021,07:55,Plein_jour,85,85048,En_agglomeration,Hors intersection,Temps éblouissant,Autre collision
3,202100000004,27,3,2021,19:45,Nuit avec eclairage public allum,93,93005,En_agglomeration,Intersection en X,Pluie forte,Autre collision
4,202100000005,25,2,2021,07:20,Nuit avec eclairage public allum,76,76429,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière

# Pretraitement données du dataset LIEUX

Ici on va remplir différentes modalité dans le dataset

In [88]:
pd.unique(df_lieux['situ'])

array([ 1,  6,  8,  4,  3,  5,  2, -1], dtype=int64)

In [89]:
df_lieux['catr'] = df_lieux['catr'].replace([1, 2, 3, 4, 5, 6, 7, 9], 
                                              ['Autoroute', 'Route nationale', 'Route departementale', 'Voie comunales', 'Hors réseau public', 'Parc de stationnement ouvert à la circulation publique', 'Routes de métropole urbaine', 'autre'])

df_lieux['circ'] = df_lieux['circ'].replace([1, 2, 3, 4], ['A sens unique', 'Bidirectionnelle', 'A chaussées séparées', 'Avec voies d’affectation variable'])

df_lieux['vosp'] = df_lieux['vosp'].replace([0, 1, 2, 3], ['Sans objet', 'Piste cyclable', 'Bande cyclable', 'Voie reservée'])

df_lieux['prof'] = df_lieux['prof'].replace([1, 2, 3, 4], ['Plat', 'Pante', 'Sommet de cote', 'Bas de cote'])

df_lieux['plan'] = df_lieux['plan'].replace([1, 2, 3, 4], ['Partie Rectiligne', 'En Courbe à gauche', 'En courbe à droite', 'En S'])

df_lieux['surf'] = df_lieux['surf'].replace([1, 2, 3, 4, 5, 6, 7, 8, 9], ['Normale', 'Mouillée', 'Flaques', 'Inondée', 'Enneigée', 'Boue', 'Verglacée', 'Corps gras huile', 'Autre'])

df_lieux['infra'] = df_lieux['infra'].replace([0, 1, 2, 3, 4, 5, 6, 7, 8, 9], 
                                              ['Aucun', 'Souterrain tunnel', 'Pont autopont', 'Bretelle d échangeur ou de raccordement', 'Voie ferrée', 'Carrefour aménagé', 'zonne pietonne', 'Zone de péage', 'Chantier', 'Autres']) 

df_lieux['situ'] = df_lieux['situ'].replace([0, 1, 2, 3, 4, 5, 6, 8], ['Aucun', 'Sur chaussée', 'Sur bande d’arrêt d’urgence', 'Sur accotement', 'Sur trottoire', 'Sur piste cyclable', 'Sur autre voie spéciale', 'Autres'])

In [90]:
df_lieux.columns

Index(['Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp', 'prof',
       'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra', 'situ',
       'vma'],
      dtype='object')

In [91]:
df_lieux_sp = df_lieux.drop(['Num_Acc', 'v2', 'pr', 'pr1', 'larrout', 'lartpc'], axis = 1)
df_lieux_sp.head()
df_lieux_sp.to_csv("lieux_.csv", index = False)

# Pretraitement du dataset Vehicule

In [92]:
df_vehicule["senc"] = df_vehicule["senc"].replace([0, 1, 2, 3], 
                                                  ['Inconnu', 'PK ou PR ou numéro d’adresse postale croissant', 
                                                   'PK ou PR ou numéro d’adresse postale décroissant', 'Absence de repère'])

df_vehicule["catv"] = df_vehicule["catv"].replace([1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 13, 14, 15, 16, 17, 18, 19, 20,
                                                   21, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 50, 60, 80, 99], 
                                                  ["Bicyclette", "Cyclomoteur <50cm3", "Voiturette", "scooter immatriculé", "motocyclette", 
                                                   "side-car", "VL seul", "VL + caravane", "VL + remorque", "VU seul", "VU (10) + caravane", 
                                                   "VU (10) + remorque", "PL seul 3,5T", "PL seul > 7,5T", "PL > 3,5T + remorque", "Tracteur routier seul", 
                                                   "Tracteur routier + semi-remorque", "transport en commun", "tramway", "Engin spécial", "Tracteur agricole", 
                                                   "Scooter < 50 cm3", "Motocyclette > 50 cm3", "Scooter > 50 cm3", "Motocyclette > 125 cm3", "Scooter > 125 cm3", 
                                                   "Quad léger <= 50 cm3", "Quad lourd > 50 cm3", "Autobus", "Autocar", "Train", "Tramway", "3RM <= 50 cm3", "3RM > 50 cm3", 
                                                   "3RM > 125 cm3", "EDP à moteur", "EDP sans moteur", "Autre véhicule"])

In [93]:
df_vehicule.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm',
       'choc', 'manv', 'motor', 'occutc'],
      dtype='object')

In [94]:
#df_vehicule1 = df_vehicule.drop(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'obs', 'obsm','choc', 'manv', 'motor', 'occutc'], axis = 1)

In [95]:
#df_vehicule1
#['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm','choc', 'manv', 'motor', 'occutc']

In [96]:
#sns.countplot(data = df_vehicule, x =  df_vehicule[""])
# ['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'catv', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc']

In [97]:
df_ves = df_vehicule.drop(['Num_Acc', 'id_vehicule', 'num_veh', 'senc', 'obs', 'obsm', 'choc', 'manv', 'motor', 'occutc'], axis = 1)

In [98]:
df_ves.to_csv("vehicules_.csv", index = False)

In [99]:
fd_vev = pd.read_csv("vehicules_.csv")

In [100]:
fd_vev.isnull().sum()

catv    0
dtype: int64

# Pretraitement dataset usager

In [101]:
# df_usagers.astype(int)

In [102]:
df_usagers["catu"] = df_usagers["catu"].replace([1, 2, 3], ["Conducteur", "Passager", "Pieton"])

#df_usagers["grav"] = df_usagers["grav"].replace([1, 2, 3, 4, -1], ['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger', 0])

df_usagers["sexe"] = df_usagers["sexe"].replace([1, 2, -1], ['Masculin', 'Féminin', 0])

df_usagers["trajet"] = df_usagers["trajet"].replace([1, 2, 3, 4, 5, 9], 
                                                    ['Domicile – travail', 'Domicile – ecole', 'Courses – achats', 'Utilisation professionnelle', 'Promenade – loisirs', 'Autre'])

In [103]:
df_usagers["Age"] = 2021 - df_usagers["an_nais"]

df_usagers.head()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,secu2,secu3,locp,actp,etatp,Age
0,202100000001,201 764,B01,1,Conducteur,3,Masculin,2000.0,Domicile – travail,0,9,-1,0,0,-1,21.0
1,202100000001,201 765,A01,1,Conducteur,1,Masculin,1978.0,Domicile – travail,1,-1,-1,0,0,-1,43.0
2,202100000002,201 762,A01,1,Conducteur,4,Masculin,1983.0,0,1,-1,-1,0,0,-1,38.0
3,202100000002,201 763,B01,1,Conducteur,3,Masculin,1993.0,0,1,-1,-1,0,0,-1,28.0
4,202100000003,201 761,A01,1,Conducteur,1,Masculin,1995.0,Domicile – travail,1,0,-1,0,0,-1,26.0

In [104]:
df_usagers.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'place', 'catu', 'grav', 'sexe',
       'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp',
       'Age'],
      dtype='object')

In [105]:
df_usagers_psu = df_usagers.drop(['Num_Acc', 'id_vehicule', 'num_veh', 'place', 'an_nais', 'secu1', 'secu2', 'secu3', 'actp'], axis = 1)

In [106]:
#df_usagers_psu["Age"] = df_usagers_psu["Age"].astype(int)
df_usagers_psu.to_csv("usagers_.csv", index = False)

In [107]:
df_tes = pd.read_csv("usagers_.csv")

In [108]:
df_tes.head()

         catu  grav      sexe              trajet  locp  etatp   Age
0  Conducteur     3  Masculin  Domicile – travail     0     -1  21.0
1  Conducteur     1  Masculin  Domicile – travail     0     -1  43.0
2  Conducteur     4  Masculin                   0     0     -1  38.0
3  Conducteur     3  Masculin                   0     0     -1  28.0
4  Conducteur     1  Masculin  Domicile – travail     0     -1  26.0

In [109]:
df_tes["sexe"].unique()

array(['Masculin', 'Féminin', '0'], dtype=object)

In [110]:
df_tes["locp"].value_counts()

-1    64603
 0    55264
 3     2838
 2     2123
 4     1402
 1     1344
 5      757
 9      412
 6      259
 8      139
 7       12
Name: locp, dtype: int64

# Jointure des dataset (caracteristique, lieux, usagers)

In [111]:
# concatenation dataset:
DF_ACC = pd.concat([df_usagers, df_lieux, df_carac, df_ves], axis = 1)

In [112]:
DF_ACC.head()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,...,dep,com,agg,int,atm,col,adr,lat,long,catv
0,202100000001,201 764,B01,1,Conducteur,3,Masculin,2000.0,Domicile – travail,0,...,30,30319,Hors_agglomeration,Hors intersection,Normale,Deux véhicules frontale,CD 981,"44,0389580000","4,3480220000",Bicyclette
1,202100000001,201 765,A01,1,Conducteur,1,Masculin,1978.0,Domicile – travail,1,...,51,51544,Hors_agglomeration,Intersection en T,Normale,Deux véhicules par le coté,Aire de repos croisement D20E9 après sortie D977,"49,2421290000","4,5545460000",VL seul
2,202100000002,201 762,A01,1,Conducteur,4,Masculin,1983.0,0,1,...,85,85048,En_agglomeration,Hors intersection,Temps éblouissant,Autre collision,15 rue François Nicolas,"46,9219500000","-0,9644600000",VL seul
3,202100000002,201 763,B01,1,Conducteur,3,Masculin,1993.0,0,1,...,93,93005,En_agglomeration,Intersection en X,Pluie forte,Autre collision,Route de Mitry,"48,9493634583","2,5196639908",VL seul
4,202100000003,201 761,A01,1,Conducteur,1,Masculin,1995.0,Domicile – travail,1,...,76,76429,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière,PARIS. ROUTE DE,"49,4083800000","1,1458100000",VL seul

In [113]:
len(DF_ACC)

129153

# Suppression des observations (des departements) qui n'appartiennent pas à l'Ile de France

Ici nous avons appliqué le filtrage multiple dans le but de retenir uniquement les observations des accidents de la région Ile de France.

In [114]:
# Filtrage dataset Carractéristique 

DF_ACC = DF_ACC[DF_ACC["dep"].isin(Departement_IDF)]
DF_ACC.head()

,Num_Acc,id_vehicule,num_veh,place,catu,grav,sexe,an_nais,trajet,secu1,...,dep,com,agg,int,atm,col,adr,lat,long,catv
3,202100000002,201 763,B01,1,Conducteur,3,Masculin,1993.0,0,1,...,93,93005,En_agglomeration,Intersection en X,Pluie forte,Autre collision,Route de Mitry,"48,9493634583","2,5196639908",VL seul
8,202100000005,201 754,A01,1,Conducteur,4,Féminin,1997.0,Domicile – travail,1,...,92,92048,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté,REPUBLIQUE (RUE DE LA) N° 47 A 85,"48,8065500000","2,2358800000",VL seul
9,202100000005,201 755,Z01,1,Conducteur,-1,0,NaN,-1,8,...,93,93008,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté,VAILLANT COUTURIER (AVENUE PAUL),"48,9075657758","2,4547603726",Bicyclette
10,202100000006,201 752,B01,1,Conducteur,4,Masculin,2009.0,Domicile – ecole,0,...,93,93008,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté,CHOUMERY (RUE),"48,9074000000","2,4568400000",VL seul
13,202100000007,201 750,B01,4,Passager,4,Féminin,2002.0,0,1,...,92,92063,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté,HOPITAL STELL (BOULEVARD DE L'),"48,8810767676","2,1844232082",Motocyclette > 50 cm3

In [115]:
DF_ACC.columns

Index(['Num_Acc', 'id_vehicule', 'num_veh', 'place', 'catu', 'grav', 'sexe',
       'an_nais', 'trajet', 'secu1', 'secu2', 'secu3', 'locp', 'actp', 'etatp',
       'Age', 'Num_Acc', 'catr', 'voie', 'v1', 'v2', 'circ', 'nbv', 'vosp',
       'prof', 'pr', 'pr1', 'plan', 'lartpc', 'larrout', 'surf', 'infra',
       'situ', 'vma', 'Num_Acc', 'jour', 'mois', 'an', 'hrmn', 'lum', 'dep',
       'com', 'agg', 'int', 'atm', 'col', 'adr', 'lat', 'long', 'catv'],
      dtype='object')

# Suppression des variables (colonnes)

In [116]:
DF_Sp = DF_ACC.drop(["Num_Acc", "id_vehicule", "num_veh", "place", "secu1", "secu2", "secu3", "actp", "Num_Acc", 
                     "locp", "Num_Acc", "v1", "v2", "voie", "adr", "hrmn", "com", "pr", "pr1", "lat", 
                     "long", "lartpc", "larrout", "an", "etatp", "catv", "jour", "nbv"], axis = 1)
DF_Sp.head(3)

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,Masculin,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,Féminin,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté

In [117]:
DF_Sp.columns

Index(['catu', 'grav', 'sexe', 'an_nais', 'trajet', 'Age', 'catr', 'circ',
       'vosp', 'prof', 'plan', 'surf', 'infra', 'situ', 'vma', 'mois', 'lum',
       'dep', 'agg', 'int', 'atm', 'col'],
      dtype='object')

In [118]:
DF_Sp.head()

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,Masculin,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,Féminin,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,Masculin,2009.0,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,Féminin,2002.0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [119]:
DF_Sp.isnull().sum()

catu         0
grav         0
sexe         0
an_nais    413
trajet       0
Age        413
catr         0
circ         0
vosp         0
prof         0
plan         0
surf         0
infra        0
situ         0
vma          0
mois         0
lum          0
dep          0
agg          0
int          0
atm          0
col          0
dtype: int64

In [120]:
DF_Sp["Age"] = 2021 - DF_Sp["an_nais"]

In [121]:
DF_Sp.head()

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,Masculin,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,Féminin,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,Masculin,2009.0,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,Féminin,2002.0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [122]:
DF_Sp.describe()

               grav       an_nais           Age           vma          mois
count  16773.000000  16360.000000  16360.000000  16773.000000  16773.000000
mean       2.511179   1982.758191     38.241809     55.715316      6.850832
std        1.382084     19.041205     19.041205     25.400751      3.360405
min       -1.000000   1920.000000      0.000000     -1.000000      1.000000
25%        1.000000   1970.000000     23.000000     50.000000      4.000000
50%        3.000000   1987.000000     34.000000     50.000000      7.000000
75%        4.000000   1998.000000     51.000000     70.000000     10.000000
max        4.000000   2021.000000    101.000000    900.000000     12.000000

In [123]:
#DF_Sp["Jeune"] = DF_Sp[DF_Sp["Age"] < 18]

In [124]:
DF_Sp.head()

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,Masculin,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,Féminin,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,Masculin,2009.0,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,Féminin,2002.0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [125]:
DF_Sp["sexe"].value_counts()

Masculin    11056
Féminin      5304
0             413
Name: sexe, dtype: int64

In [126]:
# Création_valeur quantitative
DF_Sp["sexe"] = DF_Sp["sexe"].replace(["Masculin", "Féminin"], [1, 0])

#DF_Sp["Victime"] = DF_Sp["grav"].replace(['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'], [1, 2, 3, 4])

In [127]:
DF_Sp.head()

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,1,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,0,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,1,2009.0,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,0,2002.0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

# Création des variables

In [128]:
#DF_Sp["Sexe_Masculin"] = DF_Sp["sexe"].replace(["Masculin", "Féminin"], [1, 0])

#DF_Sp["Sexe_Féminin"] = DF_Sp["sexe"].replace(["Masculin", "Féminin"], [0, 1])

#replace([1, 2, 3, 4], ['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'])

#DF_Sp["Indemne"] = DF_Sp["grav"].replace(['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'], [1, 0, 0, 0])
#DF_Sp["Décéder"] = DF_Sp["grav"].replace(['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'], [0, 1, 0, 0])
#DF_Sp["Blésser_hosp"] = DF_Sp["grav"].replace(['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'], [0, 0, 1, 0])
#DF_Sp["Blésser_leger"] = DF_Sp["grav"].replace(['Indemne', 'Tué', 'Blessé hospitalisé', 'Blessé leger'], [0, 0, 0, 1])

In [129]:
DF_Sp.head()

,catu,grav,sexe,an_nais,trajet,Age,catr,circ,vosp,prof,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,1,1993.0,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,0,1997.0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,NaN,-1,NaN,Route nationale,A sens unique,Voie reservée,Plat,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,1,2009.0,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,0,2002.0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [130]:
DF_Sp.columns

Index(['catu', 'grav', 'sexe', 'an_nais', 'trajet', 'Age', 'catr', 'circ',
       'vosp', 'prof', 'plan', 'surf', 'infra', 'situ', 'vma', 'mois', 'lum',
       'dep', 'agg', 'int', 'atm', 'col'],
      dtype='object')

In [131]:
DF_Sp["Age"].median()

34.0

# Traietement des valeurs manquantes

In [132]:
# On va utiliser l'age mediant 

DF_Sp["Age"].fillna(DF_Sp["Age"].median(), inplace = True)

In [134]:
#DF_F.isnull().sum()

In [135]:
DF_F = DF_Sp.drop(['an_nais'], axis = 1)

In [136]:
DF_F.head()

,catu,grav,sexe,trajet,Age,catr,circ,vosp,prof,plan,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,1,0,28.0,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,3.0,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,0,Domicile – travail,24.0,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,12.0,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,-1,34.0,Route nationale,A sens unique,Voie reservée,Plat,Partie Rectiligne,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10.0,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,1,Domicile – ecole,12.0,Route departementale,Bidirectionnelle,Sans objet,Plat,En courbe à droite,...,Autres,Sur chaussée,50.0,10.0,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,0,0,19.0,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,10.0,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [137]:
DF_F.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 16773 entries, 3 to 56517
Data columns (total 21 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   catu    16773 non-null  object
 1   grav    16773 non-null  int64
 2   sexe    16773 non-null  int64
 3   trajet  16773 non-null  object
 4   Age     16773 non-null  float64
 5   catr    16773 non-null  object
 6   circ    16773 non-null  object
 7   vosp    16773 non-null  object
 8   prof    16773 non-null  object
 9   plan    16773 non-null  object
 10  surf    16773 non-null  object
 11  infra   16773 non-null  object
 12  situ    16773 non-null  object
 13  vma     16773 non-null  float64
 14  mois    16773 non-null  float64
 15  lum     16773 non-null  object
 16  dep     16773 non-null  object
 17  agg     16773 non-null  object
 18  int     16773 non-null  object
 19  atm     16773 non-null  object
 20  col     16773 non-null  object
dtypes: float64(3), int64(2), object(16)
memory usage: 2.8+ MB

In [138]:
DF_Sp.isnull().sum()

catu         0
grav         0
sexe         0
an_nais    413
trajet       0
Age          0
catr         0
circ         0
vosp         0
prof         0
plan         0
surf         0
infra        0
situ         0
vma          0
mois         0
lum          0
dep          0
agg          0
int          0
atm          0
col          0
dtype: int64

In [139]:
DF_F[["Age", "mois"]] = DF_F[["Age", "mois"]].astype(int)

In [140]:
DF_F.head()

,catu,grav,sexe,trajet,Age,catr,circ,vosp,prof,plan,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
3,Conducteur,3,1,0,28,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,3,Nuit avec eclairage public allum,93,En_agglomeration,Intersection en X,Pluie forte,Autre collision
8,Conducteur,4,0,Domicile – travail,24,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,12,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
9,Conducteur,-1,0,-1,34,Route nationale,A sens unique,Voie reservée,Plat,Partie Rectiligne,...,Bretelle d échangeur ou de raccordement,Sur autre voie spéciale,50.0,10,Plein_jour,93,En_agglomeration,Hors intersection,Normale,Deux véhicules par le coté
10,Conducteur,4,1,Domicile – ecole,12,Route departementale,Bidirectionnelle,Sans objet,Plat,En courbe à droite,...,Autres,Sur chaussée,50.0,10,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
13,Passager,4,0,0,19,Route departementale,Bidirectionnelle,Sans objet,Bas de cote,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,10,Plein_jour,92,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté

In [141]:
DF_Sp["grav"].value_counts()

 1    7174
 4    6665
 3    2460
 2     460
-1      14
Name: grav, dtype: int64

In [142]:
#DF_F.info()

In [143]:
# Enregistrement de notre dataset
DF_F.to_csv("accident_IDF.csv", index = False)

In [144]:
Acc = pd.read_csv("accident_IDF.csv")

In [145]:
# suppression de - 1 de la colonne trajet (supprimer un élément dans un dataset)
#df.drop(df[df["nbv"] == 1])
#Acc.drop(Acc[Acc["nbv"] == -1].index, inplace = True)
Acc.drop(Acc[Acc["vosp"] == '-1'].index, inplace = True)
Acc.drop(Acc[Acc["infra"] == '-1'].index, inplace = True)
Acc.drop(Acc[Acc["col"] == '-1'].index, inplace = True)
Acc.drop(Acc[Acc["atm"] == 'Autre'].index, inplace = True)
#Acc.drop(Acc[Acc["catv"] == '0'].index, inplace = True)
Acc.drop(Acc[Acc["trajet"] == '0'].index, inplace = True)
Acc.drop(Acc[Acc["trajet"] == '-1'].index, inplace = True)
Acc.drop(Acc[Acc["circ"] == '-1'].index, inplace = True)
Acc.drop(Acc[Acc["grav"] == '-1'].index, inplace = True)

In [146]:
Acc.head()

,catu,grav,sexe,trajet,Age,catr,circ,vosp,prof,plan,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
1,Conducteur,4,0,Domicile – travail,24,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,12,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
3,Conducteur,4,1,Domicile – ecole,12,Route departementale,Bidirectionnelle,Sans objet,Plat,En courbe à droite,...,Autres,Sur chaussée,50.0,10,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
5,Conducteur,1,1,Promenade – loisirs,86,Route departementale,A chaussées séparées,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,10,Plein_jour,91,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière
6,Passager,4,0,Promenade – loisirs,85,Voie comunales,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Carrefour aménagé,Sur chaussée,50.0,9,Plein_jour,78,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
8,Conducteur,4,1,Promenade – loisirs,33,Route nationale,A sens unique,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,70.0,12,Plein_jour,78,Hors_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière

In [147]:
len(Acc)

10798

In [148]:
len(Acc)

10798

In [149]:
Acc.to_csv("Accident_2021_IDF_F.csv", index = False)

In [150]:
df = pd.read_csv("Accident_2021_IDF_F.csv")
df.head()

,catu,grav,sexe,trajet,Age,catr,circ,vosp,prof,plan,...,infra,situ,vma,mois,lum,dep,agg,int,atm,col
0,Conducteur,4,0,Domicile – travail,24,Route departementale,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,12,Aube,92,En_agglomeration,Intersection en X,Pluie légère,Deux véhicules par le coté
1,Conducteur,4,1,Domicile – ecole,12,Route departementale,Bidirectionnelle,Sans objet,Plat,En courbe à droite,...,Autres,Sur chaussée,50.0,10,Plein_jour,93,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
2,Conducteur,1,1,Promenade – loisirs,86,Route departementale,A chaussées séparées,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,50.0,10,Plein_jour,91,En_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière
3,Passager,4,0,Promenade – loisirs,85,Voie comunales,Bidirectionnelle,Sans objet,Plat,Partie Rectiligne,...,Carrefour aménagé,Sur chaussée,50.0,9,Plein_jour,78,En_agglomeration,Intersection en X,Normale,Deux véhicules par le coté
4,Conducteur,4,1,Promenade – loisirs,33,Route nationale,A sens unique,Sans objet,Plat,Partie Rectiligne,...,Aucun,Sur chaussée,70.0,12,Plein_jour,78,Hors_agglomeration,Hors intersection,Normale,Deux véhicules par l’arrière

In [151]:
df.columns

Index(['catu', 'grav', 'sexe', 'trajet', 'Age', 'catr', 'circ', 'vosp', 'prof',
       'plan', 'surf', 'infra', 'situ', 'vma', 'mois', 'lum', 'dep', 'agg',
       'int', 'atm', 'col'],
      dtype='object')